@import url(../node_modules/antd/dist/antd.css);

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
}

#root, .layout-root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.layout-capture {
    overflow: scroll;
    height: 100%;
}
.header {
    background-color: #eee;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 1.4em;
}

.filter-form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.filter-form > * {
    margin-right: 1.4em;
}

.ant-switch-checked {
    background-color: #ff6442;
}
.filter-on, .filter-off {
    
}
.filter-on {
    fill: #1890ff;
}
